* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 2rem;
  font-family: sans-serif;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f0f0f0;
}
